<div class="my-4 w-50 m-auto" style="min-height: 80vh;">
    <div class="my-4">
        <h1 class="text-center fw-bold">Weather App</h1>

        <form method="GET" action="/" id="form-search">
            <div class="my-4 d-flex justify-content-center align-items-center">
                <input 
                type="text" 
                name="q" 
                id="" 
                class="w-100 p-2 border-0 border-bottom" 
                placeholder="How your place's weather?"
                required>
                <button type="submit" class="btn btn-link text-decoration-none" id="search-btn">Search</button>
            </div>
        </form>
    </div>

    <div class="my-4 d-none" id="weather-visible">
        <div>
            <p>Oct 2, 08:56am</p>
            <h5 class="fw-bold">{{data.name}}. {{data.sys.country}}</h5>
        </div>
        <div class="my-2 d-flex align-items-center">
            <img 
            src="https://openweathermap.org/img/wn/{{data.weather.0.icon}}@2x.png" 
            alt=""
            style="width: 4em;">
            <h3>{{data.main.temp}}&deg;C</h3>
        </div>
        <div>
            <p class="fw-semibold">Feels like {{data.main.feels_like}}&deg;C, {{data.weather.0.description}}.</p>
            <table class="table table-borderless" id="weather-app-table">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>Wind speed: {{data.wind.speed}}m/s</td>
                        <td>Atmospheric Pressure: {{data.main.pressure}}hPa</td>
                    </tr>
                    <tr>
                        <td>Humidity: {{data.main.humidity}}%</td>
                        <td>Visibility: {{data.visibility}}km</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    const formSearch = document.querySelector('#form-search')
    const searchBtn = document.querySelector('#search-btn')
    const weatherVisible = document.querySelector('#weather-visible')

    formSearch.addEventListener('keydown', e => {
        if (e.key === 'Enter') {
            e.preventDefault()
        }
    })

    searchBtn.addEventListener('click', () => {
        weatherVisible.classList.remove('d-none')
    })
</script>
